@import "tailwindcss";

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #41b3ff;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.reset-button {
  @apply bg-red-600 text-white px-6 py-3 rounded-lg cursor-pointer text-base transition-transform duration-200 ease-in-out;
}

.reset-button:hover {
  @apply scale-102 shadow-lg;
}

.reset-button:active {
  @apply scale-95 shadow-md;
}

.form-control {
  @apply border rounded px-3 py-2;
}



